* {
  text-align: center;
}

html {
  background-image: url('../src/images/background.png');
  color: white;
  font-family: Epilogue , sans-serif;
}

header {
  border: 1px solid white;
  border-radius: 50%;
  height: 80px;
  margin: 160px auto 0;
  transform: rotate(-40deg);
  width: 220px;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 150%;
  margin: 0 -200px;
  text-transform: uppercase;
  transform: rotate(40deg);
  width: 600px;
}

.solar-system h2 {
  font-style: normal;
  font-weight: 300;
  left: auto;
  line-height: 150%;
  position: absolute;
  text-transform: uppercase;
  top: 404px;
}

.solar-system {
  align-items: center;
  border: thin solid white;
  display: flex;
  height: 1px;
  justify-content: center;
  margin-bottom: 210px;
  margin-top: 324px;
  z-index: -1;
}

.planet-card {
  margin-top: 50px;
}

.planet-card:nth-of-type( 1 ) img {
  width: 41px;
}

.planet-card:nth-of-type( 2 ) img {
  width: 102px;
}

.planet-card:nth-of-type( 3 ) img {
  width: 106px;
}

.planet-card:nth-of-type( 4 ) img {
  width: 66px;
}

.planet-card:nth-of-type( 5 ) img {
  margin: -20px;
  width: 272px;
}

.planet-card:nth-of-type( 6 ) img {
  margin: -40px;
  transform: rotate(-16.53deg);
  width: 282.41px;
}

.planet-card:nth-of-type( 7 ) img {
  width: 144px;
}

.planet-card:nth-of-type( 8 ) img {
  width: 144px;
}

.missions {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 100px;
  padding: 80px 20px 20px;
  width: 85%;
}

.missions div {
  background-color: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  margin: 10px 0;
  padding-bottom: 20px;
  width: 460px;
}

.missions h2 {
  font-style: normal;
  font-weight: 300;
  left: auto;
  line-height: 150%;
  position: absolute;
  text-transform: uppercase;
  top: 784px;
}

.missions p:nth-of-type( 1 ) {
  border-bottom: 1px solid white;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 460px;
}

.mission-info {
  align-content: center;
  display: inline;
  font-size: 12px;
  justify-content: center;
  margin-right: 8px;
  width: 60px;
}

::-webkit-scrollbar {
  background-color: hsl(0, 0%, 5%);
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 25%);
}

.icon {
  font-size: 16px;
}
